<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Birim agacı yönetimi</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
          <a class="nav-link" *ngIf="authenticated" (click)="control()">{{ user }}</a>
        <a class="nav-link" *ngIf="!authenticated" (click)="control()">  Giriş Yap</a>
        <a class="nav-link" *ngIf="authenticated" (click)="control2()">  Çıkış Yap</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
              <br>     
            <li class="nav-item">
              <a class="nav-link active"  href="#">
               Terminal<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="createUnit">
                <span data-feather="file"></span>
                birim ekle
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="unitUpdate">
                <span data-feather="shopping-cart"></span>
                birim güncelle
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="unitDelete">
                <span data-feather="users"></span>
                birim sil
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="unit">
                <span data-feather="layers"></span>
                birim gör
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <br>
    <router-outlet></router-outlet>
  </main>
</body>
